Flask
Flask-Cors
Flask-SQLAlchemy
pymysql
python-dotenv
openpyxl
Pillow
qrcode[pil]
python-docx
Flask-JWT-Extended
flask-limiter
redis>=3.0
Flask
Flask-Cors
Flask-SQLAlchemy
pymysql
python-dotenv
Flask-JWT-Extended
passlib[bcrypt]
cryptography
qrcode[pil]
pillow
