.auth-card {
  width: 100%;
  border-radius: 1rem ;
  backdrop-filter: blur(1px); /* efecto de vidrio */
}

.brand-mark {
  border-radius: 10rem;
}

.btn-agfi {
  background: #d22534;  
  border-color: #d22534;
}

.btn-agfi:hover {
  filter: brightness(1.05);
}

.muted {
  color: #000000;
  font-size: 18px;
}

.h3 {
  font-size: 30px;
}

